@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Condensed&family=Source+Code+Pro:wght@300&display=swap');

body {
    background-color:  #FFD43B;
    font-family: "Quicksand";
    text-align: center;
    min-width:100%;
    margin: 0 auto;
    color: #646464;
}

.logo:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(255, 250, 250, 0.1);
}

.logo { 
    transition: all .2s;
    position: fixed;
    left: 10px;
    top: 25px;
    width: 30px;
    box-shadow: 1px 1px 1px 1px rgba(.1, 0.1, 0.1, 0.1);
}

.center-container {
    display:flex;
    justify-content: center;
    padding-top: 85px;
}

.story-container {
    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-width: .5px;
    width: 800px;
    height: 400px;
    display:flex;
    justify-content: center;
    position: relative;
    /* background-color: #EFC050; */
}

.manual-container {
    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-width: .5px;
    width: 800px;
    height: 220px;
    /* display:flex;
    justify-content: center; */
    position: relative;
    /* background-color: #EFC050; */
}

.manual-container > h2,
.question-name-container > h2 {
    padding-top: 10px;
}

.question-name-container {
    background-color: white;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    border-width: .5px;
    width: 800px;
    margin-bottom: 20px;
    height: 240px;
    font-family: "Quicksand";
}

.question-name {
    font-family: "Quicksand";
    width: 500px;
    height: 150px;
    top: 60px;
    background-color: #efeff5;
    font-size: 12px;
    border-style: solid;
    border-width: .5px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.manual-question {
    width: 500px;
    background-color: #efeff5;
    font-family: "Quicksand";
    font-size: 12px;
    border-style: solid;
    border-width: .5px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.story-question {
    width: 500px;
    height: 300px;
    position: absolute;
    top: 60px;
    background-color: #efeff5;
    font-family: "Source Code Pro";
    font-size: 12px;
    border-style: solid;
    border-width: .5px;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
    min-width:100%;
    transition: all .4s;
    padding-top: 2px;
    padding-bottom: 2px;
    position: fixed;
    z-index: 9999;
}

.navbar:hover {
    background-color: white;
}

.navbar-title {
    margin-left: 10px;
    font-family: "Roboto Condensed";
}

.nav-active {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
    background-color:#4B8BBE;
}

.convert-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-family: 'Quicksand';
    transition: all .5s;
    border-style:none;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
    background-color:#efeff5;
    height: 30px;
}

.convert-btn:hover {
    background-color: #646464;
    color: white;
    cursor: pointer;
}

#addQuestion {
    position: fixed;
    z-index: 99999;
    bottom: 2px;
    right: 2px;
    height: 50px;
    font-size: 15px;
    box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #efeff5;
    transition: all 0.4s;
    font-family: 'Quicksand';
}

#addQuestion:hover {
    cursor: pointer;
    background-color:#646464;
    color: white;
}

hr {
    width: 50rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1px;
    clear: both;
    border: none;
    border-top: 5px solid #646464;
}