<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="report">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Report</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="forum">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Forum</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
