.reportForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.button {
    height: 50px;
    width: 100px;
    margin: 25px;
}

h2 {
    text-align: center;
}

input {
    margin: 25px;
}

.hidden {
    display: none;
}
