* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*color: white;*/
}

.navbar {
    background-color: #1D8CF8;
}

body {
    background-color: #1E1E2F;
}

h2 {
    color: white;
}

.button {
    background-color: #1D8CF8;
    border-radius: 10px;
    border: none;
}