* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*color: white;*/
}

.navbar {
    background-color: #1D8CF8;
}

body {
    background-color: #1E1E2F;
}

h2 {
    color: white;
}

.button {
    background-color: #1D8CF8;
    border-radius: 10px;
    border: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.waiting{
	filter: blur(20px);
	pointer-events:none;
}

.waitingStory{
	filter: blur(1px);
	pointer-events:none;
}

.hidden{
	display:none;
}
